<!-- frontend/templates/artisan/update_artisan.html -->

{% extends 'base.html' %}

{% block content %}
    <div style="text-align: center; margin-top: 50px;">
        <h2>Update Artisan</h2>

        <form id="updateArtisanForm" style="display: inline-block; text-align: left;">
            <label for="artisanId">Artisan ID:</label>
            <input type="text" id="artisanId" name="artisanId" required style="width: 100%;"><br>

            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname" required style="width: 100%;"><br>

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required style="width: 100%;"><br>

            <label for="address">Address:</label>
            <textarea id="address" name="address" required style="width: 100%;"></textarea><br>

            <label for="phone_number">Phone Number:</label>
            <input type="text" id="phone_number" name="phone_number" required style="width: 100%;"><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required style="width: 100%;"><br>

            <label for="specialization">Specialization:</label>
            <textarea id="specialization" name="specialization" required style="width: 100%;"></textarea><br>

            <label for="salary">Salary:</label>
            <textarea id="salary" name="salary" required style="width: 100%;"></textarea><br>


            <button type="submit">Update Customer</button>
        </form>
    </div>

    <div id="result" style="text-align: center; margin-top: 20px;"></div>

    <script>
        document.getElementById('updateArtisanForm').addEventListener('submit', async function (event) {
            event.preventDefault();

            const formData = new FormData(this);
            const artisanId = formData.get('artisanId');
            const response = await fetch(`/artisans/${artisanId}/update`, {
                method: 'PUT',
                body: formData
            });
            const data = await response.json();
            displayResult(data);
        });

        function displayResult(data) {
            const resultDiv = document.getElementById('result');
            resultDiv.innerHTML = '<h3>Result:</h3>';
            if (data.artisan_id) {
                resultDiv.innerHTML += `<p>Artisan updated with ID: ${data.artisan_id}</p>`;
            } else {
                resultDiv.innerHTML += '<p>Failed to update artisan.</p>';
            }
        }
    </script>
{% endblock %}
