<!-- frontend/templates/index.html -->

{% extends 'base.html' %}

{% block content %}
{#    <h2>Welcome to the Jewelry Workshop!</h2>#}
{#    <p>Explore our offerings:</p>#}

{#    <ul>#}
{#        <li><a href="{% url 'getAllCustomers' %}">View Customers</a></li>#}
{#        <li><a href="{% url 'getAllArtisans' %}">Meet Our Artisans</a></li>#}
{#        <li><a href="{% url 'getAllMaterials' %}">Discover Materials</a></li>#}
{#        <li><a href="{% url 'getAllProducts' %}">Browse Products</a></li>#}
{#    </ul>#}
{% endblock %}
